body {
  background-image: url('anh\ nen\ trang\ tong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }

  h1 {
    color: #f2f2f2;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a.home {
    background-color: yellow;
  }
  
  nav ul li a.movie {
    background-color: yellow;
  }
  
  nav ul li a.programming {
    background-color: yellow;
  }
  
  nav ul li a.chat-gpt {
    background-color: yellow;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #333;
  }
